<div class="chart-dropdwn chart-drop3">
        <div class="dropdown chart-btn btn-border">
            <button class="btn btn-primary dropdown-toggle" (click)="myfunction()" data-content="#dropChecks" type="button"
                    aria-expanded="false">Change metrics
                <i  [class]= "dropisShown ? 'fa arrow fa-chevron-down': 'fa arrow fa-chevron-up'" aria-hidden="true"></i></button>
        </div>
        <div id="dropChecks" class="container-fluid dropdown-checks" [hidden] = "dropisShown">
            <ul>
                <li>
                    <div class="labls float-width">
                        <label class="check-label">
                            <input type="checkbox">
                            % of pages tracked
                            <span></span>
                        </label>
                    </div>
                </li>
                <li>
                    <div class="labls float-width">
                        <label class="check-label">
                            <input type="checkbox">
                            Overall data quality
                            <span></span>
                        </label>
                    </div>
                </li>
                <li>
                    <div class="labls float-width">
                        <label class="check-label">
                            <input type="checkbox">
                            Another matric
                            <span></span>
                        </label>
                    </div>
                </li>
                <li>
                    <div class="labls float-width">
                        <label class="check-label">
                            <input type="checkbox">
                            A third matric
                            <span></span>
                        </label>
                    </div>
                </li>
                <li>
                    <div class="labls float-width">
                        <label class="check-label">
                            <input type="checkbox">
                            A fourth matric
                            <span></span>
                        </label>
                    </div>
                </li>
                <li>
                    <div class="labls float-width">
                        <label class="check-label">
                            <input type="checkbox">
                            A fifth matric
                            <span></span>
                        </label>
                    </div>
                </li>
                <li>
                    <div class="labls float-width">
                        <label class="check-label">
                            <input type="checkbox">
                            A sixth matric
                            <span></span>
                        </label>
                    </div>
                </li>
            </ul>
        </div>
    </div>