<div class="chart-dropdwn chart-drop1">
        <div class="dropdown chart-btn">
            <button class="btn btn-primary dropdown-toggle" (click)="dropisUrl = !dropisUrl" type="button" data-toggle="dropdown"
                    aria-expanded="false"><i class="fa sign-icon fa-globe" aria-hidden="true"></i>
                www.ikea.dk
                <i  [class]= "dropisUrl ? 'fa arrow fa-chevron-down': 'fa arrow fa-chevron-up'" aria-hidden="true"></i></button>
            <ul class="dropdown-menu search-dropdown">
                <li>
                    <div class="search-field">
                        <input id="textinput" name="textinput" type="text" placeholder="Search..." class="form-control">
                        <span><i class="fa fa-search" aria-hidden="true"></i></span>
                    </div>
                </li>
                <li *ngFor="let scan of webScans"><a href="#">{{scan.url}}</a></li>
                <!--<li><a href="#">www.ikea.dk</a></li>
                <li><a href="#">www.ikea.dk</a></li>-->
            </ul>
        </div>
    </div>