<section class="create-scan">
    <div class="container">
        <div class="create-title">
            <h3>Choose single scan and monitoring</h3>
        </div>
        <div class="row create-scan-por">
            <div class="col-sm-6">
                    <div  class="create-scan-content {{option == 'single' ? 'active': ''}}"  (click)= "onClicked('single')">
                        <h2>Single scan</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.</p>
                    </div>

            </div>
            <div class="col-sm-6">
                <div class="create-scan-content {{option == 'monitoring' ? 'active': ''}}"  (click)= "onClicked('monitoring')">
                    <h2>Monitoring scan</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</p>
                </div>
            </div>
            <div class=" link-btns">
                        <button class="btn hidden" [disabled]="true">Previous</button>
                        <button routerLink="/scan-info" class="btn" [disabled]="option == null">Next</button>
            </div>
        </div>
    </div>
</section>