
body{
    font-family: 'Soleil', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Soleil', sans-serif;
}

/*Common styling*/

/*table header*/
.table_header h2 {
    font-size: 24px;
    color: #1a1d25;
    margin: 0;
    margin-bottom: 32px;
}

/*table header end*/


/*Icons*/
.download-icon {
    background: url(./app/images/download.png) no-repeat 0 0;
    width: 20px;
    height: 20px;
    display: inline-block;
}
.download-icon-2 {
    background: url(./app/images/download2.png) no-repeat 0 0;
    width: 15px;
    height: 15px;
    display: inline-block;
}
.dropdown-icon {
    background: url(./app/images/dropdown.png) no-repeat 0 0;
    width: 10px;
    height: 10px;
    display: inline-block;
}
.search-icon {
    background: url(./app/images/search.png) no-repeat 0 0;
    width: 18px;
    height: 18px;
    display: inline-block;
}
/*Icons-End*/
/*chart-dropdown*/
.chart-dropdwn .chart-btn {
    float: left;
}

.chart-table-dropdown {
    margin-bottom: 32px;
    float: left;
    width: 100%;
    line-height: 36px;
}

.user-mangmnt-dropdown {
    width: 75%;
}

.chart-btn .btn {
    background-color: transparent;
    color: #1a1d25;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0;
    border-right: 1px solid #ebeaea;
    font-size: 16px;
}
/*.chart-btn:first-child .btn{
    padding-left: 0 
}*/
.chart-btn .btn:last-child {
    border-right: none;
}

.chart-btn .btn .sign-icon {
    margin-right: 10px;
}

.chart-btn .btn .arrow {
    margin-left: 10px;
}

.chart-btn .btn:hover,
.chart-btn.open .btn:focus {
    box-shadow: none;
    outline: none;
    color: #1a1d25;
    background-color: #fff;
}

.user-create-user {
    float: right;
}

.user-create-user .btn {
    padding: 14px 30px;
    background-color: #00b7e3;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}

/*checkbox-style*/
.dropdown-checks {
    float: left;
    width: 100%;
    padding: 25px;
    background-color: #f9f9f9;
    margin-top: 15px;
}

.dropdown-checks ul {
    margin: 0;
    padding: 0;
}

.dropdown-checks ul li {
    list-style: none;
    float: left;
    margin-right: 72px;
    margin-bottom: 28px;
}

.dropdown-checks ul li:last-child {
    margin-bottom: 0;
}

.dropdown-checks .check-label {
    float: left;
    margin: 0;
    width: 100%;
}

.dropdown-checks .check-label input {
    display: none;
}

.dropdown-checks .check-label span {
    height: 20px;
    width: 20px;
    border: 1px solid #717171;
    display: inline-block;
    position: relative;
    margin-right: 20px;
    top: 6px;
    background-color: #fff;
    float: left;
    color: #717171;
}

.dropdown-checks [type=checkbox]:checked + span:before {
    content: '\2714';
    position: absolute;
    top: 0;
    left: 3px;
    line-height: 19px;
}

.dropdown-checks .labls label,
.dropdown-checks .pop-input input {
    font-size: 13px;
    color: #616161;
}

/*checkbox-style-end*/

/*dropdown search*/
.search-field input {
    position: relative;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0 50px;
    font-size: 15px;
    color: #1a1d25;
    top: 4px;
}

.search-field input:hover,
.search-field input:focus {
    position: relative;
    border: none;
    box-shadow: none;
}

.search-field span {
    position: absolute;
    top: 15px;
    left: 18px;
    font-size: 20px;
    color: #1a1d25;
}

.search-dropdown {
    width: 500px;
    padding: 0;
    box-shadow: 2px 2px 5px 0px #ececec;
}

.search-dropdown li {
    padding: 12px 0;
}

.search-dropdown li:nth-child(even) {
    background-color: #f9f9f9;
}

.search-dropdown li:first-child {
    border-bottom: 1px solid #e2e2e2;
}

.search-dropdown>li>a:focus, .search-dropdown>li>a:hover {
    color: #1a1d25;
    background-color: transparent;
}
.seach-input {
    width: 200px;
    position: relative;
    padding: 0px 10px;
    float: left;
    border-right: 1px solid #ebeaea;
    height: 38px;
}
.seach-input:hover {
    border-right: 1px solid #000;
}
.seach-input input{
    padding: 19px 57px;
    border: none;
    outline: none;
    box-shadow: none;
}
.seach-input input:hover,
.seach-input input:focus{
    outline: none;
    box-shadow: none;
}
.seach-input span{
    position: absolute;
    top: 10px;
    left: 29px;
    line-height: 10px;
}


/*dropdown search*/

/*chart-dropdown*/

/*main-table*/
.main-tbl table {
    float: left;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 32px;
}

.main-tbl .table-responsive {
    overflow-x: visible;
}


.main-tbl table tr td {
    padding: 16px 20px;
    margin-bottom: 5px;
}

.main-tbl table tr th {
    font-size: 14px;
    color: #cfcfcf;
    text-transform: uppercase;
    padding: 16px 20px 16px 16px;
    margin-bottom: 5px;
    font-weight: 500;
    white-space: nowrap
}

.main-tbl table tbody tr td {
    color: #1a1d25;
    font-size: 16px;
    font-weight: 400;
}
.main-tbl table tbody tr td a{
    color: #00b7e3;
    font-size: 16px;
}

.main-tbl table tbody tr:nth-child(even) {
    background: #fafafa;
}

.tabl-border table tbody tr {
    border-left: 5px solid #7ed321;
}

.tabl-border table tbody tr:nth-child(1) {
    border-left: none;
}

.tabl-border table tbody tr:nth-child(2) {
    border-left: 5px solid #00b7e3;
}

.tabl-border table tbody tr:nth-child(3) {
    border-left: 5px solid #f8c11c;
}
.table-btns{
    min-width: 305px;
}

.table-btns .btn {
    padding: 12px 10px;
    background-color: #00b7e3;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}

.table-btns .btn i {
    font-size: 18px;
    vertical-align: bottom;
    margin-right: 5px;
}

/*responsive-btns*/

.responsive-btns .btn {
    padding: 4px 0px 0px 0;
    background-color: transparent;
    color: #00b7e3;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 500;
}
.responsive-btns .btn:hover,
.responsive-btns .btn:focus{
  outline: none;
}
.responsive-btns .btn i {
        font-size: 14px;
    vertical-align: middle;
    margin-right: 5px;
    margin-left: 5px;
}
/*responsive-btns-end*/
.tbl-resp-edit span a{
    color: #00b7e3;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
}

.chart-top-txt h3 {
    font-size: 20px;
    color: #1a1d25;
    margin: 0;
    float: left;
}

/*tbl-legend*/
.table-proprties {
    margin-bottom: 32px;
    float: left;
    width: 100%;
}

.table-proprties ul li {
    float: left;
    list-style: none;
    margin-right: 35px;
}

.table-proprties ul li span {
    width: 12px;
    height: 12px;
    border: 1px solid transparent;
    border-radius: 20px;
    float: left;
    margin-right: 20px;
    margin-top: 4px;
}

.blue-color {
    background-color: #00b7e3;
}

.yellow-color {
    background-color: #f8c11c;
}

.green-color {
    background-color: #7ed321;
}

/*tbl-legend end*/

/*chart-tabs*/
.chart-top-btns {
    float: left;
    margin-left: 30px;
}

.chart-top-btns .btn {
    background-color: transparent;
    color: #d5d5d5;
    font-size: 16px;
    font-weight: 500;
    box-shadow: none;
    border: none;
    padding: 0 10px;
}

.chart-top-btns .btn.active {
    color: #00b7e3;
    box-shadow: none;
}

.chart-top-btns .btn:hover,
.chart-top-btns .btn:focus {
    color: #00b7e3;
    box-shadow: none;
    outline: none;
    border: none;
}

/*chart-tabs end*/

/*tbl-responsive*/
.resp-tag,
.tbl-resp-edit {
    float: left;
    width: 100%;
    display: none;
    margin-top: 5px;
}

.resp-tag span,
.tbl-resp-edit span {
    float: left;
    width: 100%;
    font-weight: 400;
}

.pg-trackd-th,
.tbl-quality-resp {
    display: none;
}

.mang-name {
    margin-top: 10px;
}

.mang-name span {
    display: none;
    font-weight: 500;
}

.user-edit {
    display: none;
    margin-top: 10px;
}

/*tbl-responsive end*/

/*main-table end*/

/*btn-common*/
.create-scan-btns {
    margin-top: 58px;
    float: left;
    width: 100%;
    padding: 0 15px;
}

.create-scan-btns .btn {
    padding: 5px 10px;
    text-transform: uppercase;
    background-color: #f2f2f2;
    color: #9b9b9b;
    margin-right: 12px;
    border-radius: 2px;
    min-width: 120px;
    height: 50px;
    line-height: 44px;
}

.create-scan-btns .btn:hover,
.create-scan-btns .btn:focus {
    outline: none;
    background-color: #00b7e3;
    color: #fff;
}

/*btn-common end*/

/*Common styling end*/

/*Loader*/
    #pre-bootstrap {
                /*background-color: rgba(38, 38, 38, 0.42);*/
                bottom: 0px ;
                left: 0px ;
                opacity: 1.0 ;
                position: fixed ;
                right: 0px ;
                top: 0px ;
                transition: all linear 300ms ;
                    -webkit-transition: all linear 300ms ;
                z-index: 999999 ;
            }
            #pre-bootstrap.loaded {
                opacity: 0.0 ;
            }
            #pre-bootstrap div.messaging {
                color: #FFFFFF ;
                font-family: monospace ;
                left: 0px ;
                margin-top: -37px ;
                position: absolute ;
                right: 0px ;
                text-align: center ;
                top: 50% ;
            }
            #pre-bootstrap h1 {
                font-size: 26px ;
                line-height: 35px ;
                margin: 0px 0px 20px 0px ;
            }
            #pre-bootstrap p {
                font-size: 18px ;
                line-height: 14px ;
                margin: 0px 0px 0px 0px ;
            }



            .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgba(38, 38, 38, 0.42);
  border-bottom: 16px solid rgba(38, 38, 38, 0.42);
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
            /*Loader-end*/