<section class="single-info-por">
    <div class="container">
        <div class="create-title">
            <h3>Edit User</h3>
        </div>
        <div class="row single-info-content">
            <form class="form-horizontal" (ngSubmit)="onSubmit(f)" #f="ngForm">
                <input type="hidden" [(ngModel)]="editUser.id" name="id">
                <div class="col-sm-6">
                    <div class="scan-info-form">
                        <!-- Name input-->
                        <div class="scan-info-fields">
                            <span class="input" [class.input--filled]="editUser.editName !=''">
                              <input [(ngModel)]="editUser.editName" name="editName" class="input__field input__field_box" type="text" id="editName" />
                              <label class="input__label input__label" for="editName">
                                <span class="input__label-content">Name</span>
                            </label>
                            </span>
                        </div>
                        <!--Email-->
                        <div class="scan-info-fields">
                            <span class="input" [class.input--filled]="editUser.editEmail !=''">
                              <input [(ngModel)]="editUser.editEmail"  name="editEmail" class="input__field input__field_box" type="text" id="editEmail" />
                              <label class="input__label input__label" for="editEmail">
                                <span class="input__label-content">Email</span>
                            </label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="scan-info-form">
                        <!-- user type-->
                        <div class="scan-info-fields">
                            <span class="input" [class.input--filled]="editUser.selectUser !=''">
                              <select [(ngModel)]="editUser.selectUser" id="selectUser" name="selectUser" class="input__field input__field_box">
                                        <option value="super_admin">Super Admin</option>
                                        <option value="admin">Admin</option>
                                        <option value="user">User</option>
                                    </select>
                              <label class="input__label" for="selectUser">
                                <span class="input__label-content">User Type</span>
                            </label>
                            </span>
                        </div>
                        <!--clients-->
                         <div class="scan-info-fields">
                            <span class="input" [class.input--filled]="editUser.selectClient !=''">
                              <select [(ngModel)]="editUser.selectClient" id="selectClient" name="selectClient" class="input__field input__field_box">
                                       <option *ngFor="let item of companies" [ngValue]="item.id">{{item.name}}</option>
                                    </select>
                              <label class="input__label" for="selectClient">
                                <span class="input__label-content">Clients</span>
                            </label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 create-scan-btns single-info-btns">
                    <button class="btn" (click)="goBack()">Cancel</button>
                    <button class="btn" type="submit">Save</button>
                </div>
            </form>

        </div>
    </div>
</section>