<section class="single-info-por">
    <div class="container">
        <div class="create-title">
            <h3>Edit User</h3>
        </div>
        <div class="row single-info-content">
            <form class="form-horizontal">
                <div class="col-sm-6">
                    <div class="scan-info-form">
                        <!-- Name input-->
                         <div class="scan-info-fields">
                            <span class="input" [class.input--filled]="editUser.editName !=''">
                              <input [(ngModel)]="editUser.editName" name="editName" class="input__field input__field_box" type="text" id="editName" />
                              <label class="input__label input__label" for="input-4">
                                <span class="input__label-content">Name</span>
                             </label>
                            </span>
                         </div>
                        <!--Email-->
                         <div class="scan-info-fields">
                            <span class="input" [class.input--filled]="editUser.editEmail !=''">
                              <input   name="editEmail" class="input__field input__field_box" type="text" id="editEmail" />
                              <label class="input__label input__label" for="input-4">
                                <span class="input__label-content">Email</span>
                             </label>
                            </span>
                         </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="scan-info-form">
                        <!-- user type-->
                        <div class="form-fields">
                            <div class="form-fields">
                                <label class=" control-label" for="user_type">User Type</label>
                                <div class="form-input drop_list">
                                    <select id="user_type" name="selectbasic" class="form-control">
                                        <option value="1">Select</option>
                                        <option value="2">Select</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--clients-->
                        <div class="form-fields">
                            <label class=" control-label" for="client_name">Clients</label>
                            <div class="form-input drop_list">
                                <select id="client_name" name="selectbasic" class="form-control">
                                    <option value="1">lkea</option>
                                    <option value="2">lkea</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-sm-12 create-scan-btns single-info-btns">
                <button class="btn">Cancel</button>
                <button class="btn">Save</button>
            </div>
        </div>
    </div>
</section>